.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 20px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.menu-list {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-list.active {
  display: block;
}

.menu-list ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.menu-list li {
  padding: 10px 20px;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: block;
}

.menu-list li:hover {
  background-color: #f5f5f5;
}

.speech-bubble-image {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.speech-bubble-image img {
  width: 400px;
  height: auto;
  display: block;
}

.description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.description p {
  margin: 8px 0;
  font-size: 20px;
}

.form-section-with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcd9df;
  padding: 40px 0 0 0;
  margin: 0;
  margin-top: 0;
  width: 100vw;
  box-sizing: border-box;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
  flex: 1;
}

.info-box {
  background-color: #eeced4;
  border-radius: 20px;
  padding: 25px 30px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.logo-bubble {
  position: relative;
  width: 400px;
  display: flex;
  left: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-line {
  content: "";
  position: absolute;
  width: 20px;
  height: 500px;
  left: 1150px;
  border-right: 3px solid #333;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}

/*.vertical-line::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 400px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}

.vertical-line::after {
  right: 0;
  border-right: 3px solid #333;
}*/

@media (max-width: 900px) {
  .form-section-with-logo {
    flex-direction: column;
    align-items: center;
  }

  .vertical-line {
    display: none;
  }

  .form-section,
  .logo-bubble {
    max-width: 90%;
  }

  .logo-bubble img {
    max-width: 220px;
  }
}
